* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
/* start header */
header {
  background-color: #fff;
  padding: 0px;
  transition: 0.4s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
header .fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
header .navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #dc4f72;
  letter-spacing: -1px;
  text-decoration: none;
}
header .navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
}
header .container .navbar {
  position: relative;
  display: flex;
  padding: 0;
}
header .container .navbar .navbar-brand span {
  display: inline-block;
  color: #dc4f72;
}
header .navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
}
header .navbar-expand-lg .navbar-collapse {
  display: flex;
}
header .navbar-expand-lg .navbar-nav {
  flex-direction: row;
  margin-left: auto;
}
header .navbar-collapse {
  flex-grow: 1;
  align-items: center;
}
header .navbar-expand-lg .navbar-nav {
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
header .navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 15px;
  transition: 0.5s;
  position: relative;
}
header .navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: 0.5s;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 400;
  color: #2c3038;
  display: block;
  position: relative;
}
header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #dc4f72;
  text-decoration: none;
}
header .navbar-expand-lg .navbar-nav .nav-link::before {
  content: "";
  width: 0px;
  position: absolute;
  left: 0;
  bottom: 13px;
  height: 2px;
  background: #dc4f72;
  transition: 0.3s;
}
header .navbar-expand-lg .navbar-nav .nav-link:hover::before {
  width: 40%;
}
header .navbar-nav .dropdown-menu {
  float: none;
  transform: translateX(-50px);
  position: absolute;
}
header .btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
  transition: 0.3s;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}
header .btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
/* start w3l-index1 */
.w3l-index1 {
  margin-top: 90px;
}
.w3l-index1 .content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(./imgcapstone/1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}
.w3l-index1 .content-left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: #2c3038;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.w3l-index1 .content-left p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
  margin: 0px;
  padding: 0px;
}
.w3l-index1 .content-left .theme-button {
  transition: 0.3s;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}
.w3l-index1 .content-left .btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}
.w3l-index1 .content-left .btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.w3l-index1 .content-photo img {
  transform: rotate(180deg);
  max-width: 100%;
  height: auto;
}
/* start w3l-index2  */
.w3l-index2 {
  display: block;
}
.w3l-index2 .header-section {
  max-width: 750px;
  margin: 0 auto;
  display: block;
}
.w3l-index2 .header-section h6 {
font-size: 16px;
line-height: 20px;
font-weight: 700;
color: #dc4f72;
text-transform: uppercase;
margin-bottom: 5px;
margin: 0;
padding: 0; 
}
.w3l-index2 .header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.w3l-index2 .header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.w3l-index2 .container .text-center {
  text-align: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.w3l-index2 .row .col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.w3l-index2 .s-block {
  border-radius: 10px;
  transition: 0.3s;
  background: #f7f9fc;
  padding: 3rem 2rem;
  border: 1px solid #f7f9fc;
}
.w3l-index2 .s-block  a{
text-decoration: none;
}
.w3l-index2 .s-block .img-fluid {
  max-width: 100%;
  height: auto;
}
.w3l-index2 .s-block h3 {
  color: #2c3038;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}
.w3l-index2 .s-block p {
  color: #5a5a5a;
  margin-top: 15px;
  font-size: 16px;
  line-height: 24.5px;
  margin: 0px;
  padding: 0px;
}
.w3l-index2 .s-block:hover {
  transition: 0.3s;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}
/* start w3l-index3 */
.w3l-index3 {
    background-color: #f7f9fc;
}
.w3l-index3 .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: #2c3038;
    font-weight: 700;
}
.w3l-index3 .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24.4px;
}
.w3l-index3 .book-info .theme-button {
    transition: 0.3s;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.w3l-index3 .book-info .btn-primary{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.w3l-index3 .book-info .btn-primary:hover {
color: #fff;
background-color: #d62f58;
border-color: #cf2952;
}
.w3l-index3 img.img-curve:hover{
    transform:  translateY(-0.5rem);
    transition: 0.3s;
}
.w3l-index3 .container .row .col-lg-6 img {
border-radius: 6px;
}
/* start w3l-stats */
.w3l-stats {
    background: #F7F9FC;
}
.w3l-stats .stats_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    transition: 0.3s;
    border: 1px solid #eee;
}
.w3l-stats .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color:  #2C3038;
    font-weight: 700;
}
.w3l-stats .counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}
.w3l-stats p {
    margin: 0;
    padding: 0;
    color: #5a5a5a;
}
.w3l-stats .stats_info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s;
}
/* start w3l-index4  */
.w3l-index4 .new-block {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(./imgcapstone/7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.w3l-index4 .middle-section {
    max-width: 550px;
}
.w3l-index4 .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.w3l-index4 .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}
.w3l-index4 .theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.w3l-index4 .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}
.w3l-index4 .theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.w3l-index4 .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
/* start w3l-index5 */
.w3l-index5 .header-section {
    max-width: 750px;
    margin: 0 auto;
}
.w3l-index5 .header-section h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.w3l-index5 .header-section p{
color: #5a5a5a;
font-size: 16px;
line-height: 22.5px;
font-weight: 400;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}
.w3l-index5 .grids5-info {
    border-radius: 6px;
    transition: 0.3s;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}
.w3l-index5 .grid-view a .zoom {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    position: relative;
}
.w3l-index5 .grid-view .grids5-info img {
    width: 100%;
    display: block;
    filter: grayscale(1);
}
.w3l-index5 .grid-view .d-block .date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: 0;
    background: #dc4f72;
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
}
.w3l-index5 .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.w3l-index5 .tag-label,.red {
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}
.w3l-index5 .tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}
.w3l-index5 .grid-view .grids5-info h4 a {
    font-size: 22px;
    line-height: 27px;
    color: #2C3038;
    display: block;
    font-weight: 600;
}
.w3l-index5 .grid-view .grids5-info p {
    font-size: 16px;
    line-height: 24.5px;
    color:#5a5a5a;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.w3l-index5 a.btn-news {
    padding: 0;
    color:  #dc4f72;
    transition: 0.3;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
.w3l-index5 a.btn-news span {
    font-size: 60%;
    vertical-align: middle;
    padding-left: 0px;
    position: absolute;
    right: -13px;
    top: 7.5px;
    transition: 0.3s ;
}   
.w3l-index5 .grids5-info:hover {
    box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}
.w3l-index5 .grids5-info {
    border-radius: 6px;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}
.w3l-index5 .grid-view a:hover {
    text-decoration: none;
    color: #ba254a;
}
.w3l-index5 .grids5-info:hover .zoom img {
    overflow: hidden;
    filter: grayscale(0);
    transition: 0.3s;
}
.w3l-index5 .grids5-info:hover .blog-info h4 a {
    color: #dc4f72;
}
.w3l-index5 .grids5-info:hover .btn-news .fa {
    right: -16px;
    transition: 0.3s;
}
.w3l-index5 .green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}
.w3l-index5 .blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}
/* start w3l-index6 */
.w3l-index6 .header-section {
    max-width: 750px;
    margin: 0 auto;
}
.w3l-index6 .header-section h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.w3l-index6 .header-section p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.w3l-index6 .theme-button {
    transition: 0.3s;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.w3l-index6  .btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}
.w3l-index6 .btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.w3l-index6 .btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.w3l-index6 .btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}
/* srart feature  */
.feature .hero{
    width: 80%;
    height: 450px;
    position: relative;
    margin: 100px auto;
    overflow: hidden;
}
.feature .btn-box{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.feature .btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 40px 0;
    margin-right: 100px;
    font-size: 22px;
    font-weight: bold;
    font-weight: 700;
    padding: 16px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #4E5B61;
    background: #fff;
    border-bottom: 3px solid #eee;
}
.feature .btn-box button:hover .fa{
    color:black;
}

.feature .content-right img{
    width: 450px;
    border-radius: 10px;
}
.feature .content-right img:hover {
    transform:translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}
.feature .content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5% auto;
    position: absolute;
    transform: translateX(100%);
    transition: 0.1s;
}
.feature .content-left h1{
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    align-items: left;
}
.feature .content-left{
    flex-basis: 50%;
    text-align: left;
}
.feature .content-left p{
    font-size: 17px;
    padding: 12px 1000;
    color: #212529;
    justify-content: left;

    display: flex;
    align-items: left;
    letter-spacing: 0.6px;
}
.feature .btn{
    transition: 0.3;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    cursor: pointer;
    color: #dc4f72;
    border-color: #dc4f72;
}
.feature .btn:hover{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.feature .content-right{
    flex-basis: 50%;
    text-align: center;
}
.feature #content1{
    transform: translateX(0px);
} 
.feature #btn1 {
    color: #e83e8c;
}

.feature .quanbop{
    text-align: center;
    justify-content: center;
    line-height: 0;
    letter-spacing: 1px;
    box-sizing: border-box;

    margin: 3px;
    height: 20px;
    padding: 120px;
}

.feature .quanbop-bop h1{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.feature .quanbop-bop h2{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    text-align: center
}
.feature .quanbop-bop p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
/* start w3l-testimonials */
.w3l-testimonials .testimonials {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(./imgcapstone/16.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.w3l-testimonials .header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.w3l-testimonials .header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.w3l-testimonials .mx-auto {
    margin-left: auto;
}
.w3l-testimonials .owl-carousel {
    display: block;
    width: 100%;
    z-index: 1;
    position: relative;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* -webkit-transform: translate3d(0,0,0); */
}
.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
}
.owl-carousel .owl-item {
    min-height: 1px;
    position: relative;
    float: left;
}
.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    user-select: none;
}
.w3l-testimonials .slider-info {
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: 6px;
}
.w3l-testimonials .img-circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #dc4f72;
}
.w3l-testimonials .img-circle img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.w3l-testimonials .message {
    position: relative;
}
.w3l-testimonials .message span {
    font-size: 30px;
    color:#2C3038;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
    right: 0;
}
.fa-quote-left:before {
    content: "\f10d";
}
.w3l-testimonials .message p {
    font-size: 18px;
    line-height: 26px;
    color: #2C3038;
    margin: 0px;
    padding: 0px;
}
.w3l-testimonials .name h4 {
    font-size: 18px;
    color: #dc4f72;
    font-weight: 400;
}
.w3l-testimonials .name p {
    font-size: 13px;
    color: #5a5a5a;
    line-height: 26px;
}
.w3l-testimonials .slider-info {
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: 6px;
}
.w3l-testimonials .img-circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #dc4f72;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-nav .owl-prev {
    user-select: none;
}
button.owl-next {
    right: 5px;
}
.w3l-testimonials .owl-next,.owl-prev {
    position: absolute;
    bottom: 45%;
}
button .owl-prev {
    left: 5px;
    position: absolute;
    bottom: 45%;
}
.owl-next.disabled, .owl-prev.disabled {
    display: none !important;
    }
.owl-carousel .owl-nav button {
    border: none;
}
.owl-theme .owl-dots {
    margin-top: 30px;
    
}
.owl-theme .owl-dots{
    text-align: center;
}
.w
.owl-dots {
    margin-top: 0px;
    bottom: -55px;
    position: absolute;
    left: 0;
    right: 0;
}
.owl-theme .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
    padding: 0;
    cursor: pointer;    
    border: none;
}
.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background: #fff;
    display: block;
    border: none;
    transition: opacity 0.2s;
    border-radius: 0;
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span {
    border: none;
    background: #dc4f72;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #dc4f72;
}
/* start w3l-faq-block */
.w3l-faq-block {
    background-color: #F7F9FC;
}
.w3l-faq-block .header-section {
    max-width: 750px;
    margin: 0 auto;
}
.w3l-faq-block .faq-image {
    position: sticky;
    top: 80px;
}
.w3l-faq-block .header-section h3 {
    color: #2C3038 ;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.w3l-faq-block  .header-section p {
    color:#5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.w3l-faq-block  .img-curve {
    border-radius: 6px;
    transition: 0.3s;
}
img.img-curve:hover {
    transform:translateY(-0.5rem);
    transition: 0.3s ;
}
.w3l-faq-block section {
    display: block;
}
.w3l-faq-block .w3l-faq ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}
.w3l-faq-block .w3l-faq ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: 6px;
    background: #fff;
}
.w3l-faq-block .w3l-faq ul li input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
}
.w3l-faq-block .w3l-faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}
.w3l-faq-block .w3l-faq ul li i:before {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 9px;
    transition: all 0.25;
}
.w3l-faq-block .w3l-faq h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #2C3038;
}
.w3l-faq-block .w3l-faq p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    transition: 0.25s;
}
.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}
.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}   
.w3l-faq-block .w3l-faq ul li i:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 9px; 
}
.w3l-faq-block .w3l-faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
.w3l-faq-block .w3l-faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
/* start w3l-products */
.w3l-products .header-section {
    max-width: 750px;
    margin: 0 auto;
}
.w3l-products  .header-section h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.w3l-products .header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.w3l-products .resp-tabs-list {
    margin: 0px;
    padding: 0px;
}
.w3l-products .resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #4E5B61;
    background: #fff;
    border-bottom: 3px solid #eee;
}
.w3l-products .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}
.w3l-products h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
}
.w3l-products h2.resp-tab-active {
    background: #DBDBDB;
    border-bottom: 3px #dc4f72 solid ;
}
.w3l-products .resp-tab-active .resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
}
.w3l-products .products-content {
    margin: 20px 0;
}
.w3l-products .products-content .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.w3l-products .products-content .row .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.w3l-products .products-content h3 {
    color: #2C3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.w3l-products .products-content p {
    color:#5a5a5a;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}
.w3l-products .theme-button {
    transition: 0.3s;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.w3l-products .btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}
.w3l-products .btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
    text-decoration: none;
}
.w3l-products .col-md-6{    
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.w3l-products .img-curve {
    border-radius: 6px;
    transition: 0.3s ;
}
.w3l-products .img-fluid {
    max-width: 100%;
    height: auto;
}
/* start footer  */
.w3l-footer .w3l-footer-16-main.py-5 {
    background: #F7F9FC;
}
.w3l-footer .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color:  #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}
.w3l-footer .footer-gd-16 li {
    display: block;
    list-style: none;
    margin: 10px 0;
}
.w3l-footer .footer-gd-16 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}
.w3l-footer .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}
.w3l-footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.w3l-footer .w3l-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}
.w3l-footer form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.w3l-footer .subscribe input[type="email"] {
    background: #F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}
.w3l-footer .subscribe button {
    text-align: center;
    background:#dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}
.w3l-footer .w3l-footer-16-main p {
    line-height: 22px;
    color:#5a5a5a;
    font-size: 16px;
}
.w3l-footer .below-section {
    border-top: 1px solid #eaeaea;
}
.w3l-footer .text-lg-left {
    text-align: left ;
}
.w3l-footer .w3l-footer-16-main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}
.w3l-footer .w3l-footer-16-main p a {
    color: #2C3038;
}
.w3l-footer ul.social li {
    display: inline-block;
    margin-right: 5px;
    list-style-type: none;
}
.w3l-footer ul.social li a {
    color: #2C3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.w3l-footer ul.social li a i {
    font-size: 15px;
    line-height: 36px;
}
.w3l-footer ul.social li a:hover {
    color:#dc4f72;
    transition: 0.3s;
}
.w3l-footer .fa-linkedin:before {
    content: "\f0e1";
}   
.w3l-footer #movetop {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 45px;
    background:#dc4f72;
    padding: 0;
    opacity: 0.7;
    transition: 0.3s;
}
.w3l-footer #movetop span.fa {
    line-height: 45px;
    color: #fff;
    font-size: 22px;
}
.fa-angle-up:before {
    content: "\f106";
}